.form-check-input {
    margin-left: 10px; /* Adicione a quantidade de espaçamento desejada aqui */
    border: 1px solid #000;
}
.container {
    max-height: 80vh; /* Ajuste conforme necessário */
    overflow-y: auto;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .button-container {
    text-align: center;
    position: fixed;
    bottom: 120px; /* Distância do fundo da tela */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Para garantir que os botões estejam acima do conteúdo */
  }