<div class="container mt-4 scrollable-content" style="height: 80vh; overflow-y: auto;">
    <h2 class="text-center">Cadastrar Cliente</h2>
    <br>
    <h4>Detalhes do Cliente</h4>
    <form (ngSubmit)="onSubmit()" #clienteForm="ngForm">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" class="form-control" [(ngModel)]="cliente.nome" name="nome" required>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rg">RG:</label>
                            <input type="text" id="rg" class="form-control" [(ngModel)]="cliente.rg" name="rg" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="orgEmissor">Orgão Emissor:</label>
                            <input type="text" id="orgEmissor" class="form-control" [(ngModel)]="cliente.orgEmissor" name="orgEmissor" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dtEmissao">Data de Emissão:</label>
                            <input type="date" id="dtEmissao" class="form-control" [(ngModel)]="cliente.dtEmissao" name="dtEmissao" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cpfcnpj">CPF/CNPJ:</label>
                            <input type="text" id="cpfcnpj" class="form-control" [(ngModel)]="cliente.cpfcnpj" name="cpfcnpj" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nacionalidade">Nacionalidade:</label>
                            <input type="text" id="nacionalidade" class="form-control" [(ngModel)]="cliente.nacionalidade" name="nacionalidade" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="naturalidade">Naturalidade:</label>
                            <input type="text" id="naturalidade" class="form-control" [(ngModel)]="cliente.naturalidade" name="naturalidade" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dtNasc">Data de Nascimento:</label>
                            <input type="date" id="dtNasc" class="form-control" [(ngModel)]="cliente.dataNasc" name="dtNasc" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telefone">Telefone:</label>
                            <input type="text" id="telefone" class="form-control" [(ngModel)]="cliente.telefone" name="telefone" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="celular">Celular:</label>
                            <input type="text" id="celular" class="form-control" [(ngModel)]="cliente.celular" name="celular" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" class="form-control" [(ngModel)]="cliente.email" name="email" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <div class="card mb-4">
            <div class="card-header bg-light">
                <h4 class="mb-0">Endereço</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CEP">CEP</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="CEP" [(ngModel)]="cliente.cep" name="CEP"
                                    required>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary"
                                        (click)="buscarEndereco()">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" class="form-control" id="logradouro" [(ngModel)]="cliente.logradouro"
                                name="logradouro" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input type="number" class="form-control" id="numero" [(ngModel)]="cliente.numero"
                                name="numero" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control" id="bairro" [(ngModel)]="cliente.bairro"
                                name="bairro" required>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="complemento">Complemento</label>
                            <input type="text" class="form-control" id="complemento"
                                [(ngModel)]="cliente.complemento" name="complemento">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control" id="cidade" [(ngModel)]="cliente.cidade"
                                name="cidade" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UF">UF</label>
                            <input type="text" class="form-control" id="UF" [(ngModel)]="cliente.uf" name="UF"
                                required>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-secondary" (click)="confirmCancel()" style="margin-left: 10px;">Cancelar</button>
        </div>
        
    </form>
</div>
