<div class="container mt-4 scrollable-content" style="height: 80vh; overflow-y: auto;">
    <h2 class="text-center">Serviços</h2>
    <form #clienteForm="ngForm" (ngSubmit)="consultarAnexo()">
        <div class="form-group">
            <label for="cliente">Cliente (CPF ou CNPJ)</label>
            <br>
            <input type="text" class="form-control" id="cliente" #clienteInput [(ngModel)]="cpfcnpjCliente"
                name="cliente" mask="000.000.000-00 || 00.000.000/0000-00" [dropSpecialCharacters]="false" required
                style="width: 200px; display: inline-block; margin-right: 10px;">
            <input type="text" class="form-control" [(ngModel)]="nomeCliente" name="nomeCliente" readonly
                style="width: 400px; display: inline-block;">
        </div>
        <br>
        <div class="button-container">
            <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Pesquisar</button>
            <button type="button" class="btn btn-secondary" (click)="limparDados(clienteForm)">Limpar</button>
        </div>
        <br><br>
        <div class="form-group">
            <label for="embarcacao">Embarcação</label>
            <select class="form-control" id="embarcacao" [(ngModel)]="idEmbarcacao" name="embarcacao"
                (change)="onEmbarcacaoChange($event)" required>
                <option *ngFor="let embarcacao of embarcacoes" [value]="embarcacao.id">{{embarcacao.nomeEmbarcacao}}
                </option>
            </select>
        </div>
    </form>
    <br>
    
    <div class="servicos-disponiveis">
        <!-- Seção CHA -->
        <div class="servico-categoria mb-5">
            <h2 class="mb-3">Serviços CHA - Carteira de Habilitação para Amador:</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                    
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Emissão CHA - Arrais</h5>
                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-primary me-2" (click)="null"
                                    [disabled]="!cliente">Visualizar</button>
                                <button type="button" class="btn btn-primary" (click)="null"
                                    [disabled]="!cliente">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Renovação CHA - Arrais</h5>
                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-primary me-2" (click)="null"
                                    [disabled]="!cliente">Visualizar</button>
                                <button type="button" class="btn btn-primary" (click)="null"
                                    [disabled]="!cliente">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Emissão CHA - Moto Aquática</h5>
                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-primary me-2" (click)="null"
                                    [disabled]="!cliente">Visualizar</button>
                                <button type="button" class="btn btn-primary" (click)="null"
                                    [disabled]="!cliente">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Seção Embarcação -->
        <div class="servico-categoria">
            <h2 class="mb-3">Serviços Embarcação</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Inscrição de Embarcação Esporte Recreio</h5>
                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-primary me-2" (click)="ServicoInscEmbTela()"
                                    [disabled]="!cliente || !embarcacoes.length">Visualizar</button>
                                <button type="button" class="btn btn-primary" (click)="ServicoInscEmbEmail()"
                                    [disabled]="!cliente || !embarcacoes.length">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Alteração de Embarcação Esporte Recreio</h5>
                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-primary me-2" (click)="ServicoAltcEmbTela()"
                                    [disabled]="!cliente || !embarcacoes.length">Visualizar</button>
                                <button type="button" class="btn btn-primary" (click)="ServicoAltEmbEmail()"
                                    [disabled]="!cliente || !embarcacoes.length">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Transferência de Embarcação Esporte Recreio</h5>
                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-primary me-2" (click)="openModal2M(1)"
                                    [disabled]="!cliente || !embarcacoes.length">Visualizar</button>
                                <button type="button" class="btn btn-primary" (click)="openModal2M(2)"
                                    [disabled]="!cliente || !embarcacoes.length">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- Modal anexo 2M-->
<div class="modal fade" id="modalAnexo2M" tabindex="-1" aria-labelledby="modalAnexo2MLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAnexo2MLabel">Informe o comprador:</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>CPF/CPNJ</label>
                    <div class="form-group">
                        <input type="text" id="nomeopcao1" class="form-control" [(ngModel)]="campotexto1"
                            name="campotexto1" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>Valor</label>
                    <div class="form-group">
                        <input type="text" id="nomeopcao1" class="form-control" [(ngModel)]="campotexto2"
                            name="campotexto2" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="confirmarAnexo2M()">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>