<div class="container mt-4">

    <h2 hidden>Lista de Acessores</h2>
    <table hidden class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prestador of prestadores">
          <td>{{ prestador.nome }}</td>
          <td>{{ prestador.cpfcnpj }}</td>
          <td>{{ prestador.telefone }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="abrirModalAlterar(prestador)">Alterar</button>
            <button class="btn btn-danger btn-sm" (click)="excluirPrestador(prestador.id!)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button hidden class="btn btn-success" (click)="abrirModalCadastrar()">Cadastrar Prestador</button>
    

    <hr /><hr />

  <!-- Lista de OrgMilitar -->
  <h2>Lista de Organizações Militares</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Abreviatura</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orgMilitar of orgMilitares">
        <td>{{ orgMilitar.nome }}</td>
        <td>{{ orgMilitar.abreviatura }}</td>
        <td>{{ orgMilitar.telefone }}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="abrirModalOrgMilitar(orgMilitar)">Alterar</button>
          <button class="btn btn-danger btn-sm" (click)="excluirOrgMilitar(orgMilitar.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="abrirModalOrgMilitar()">Cadastrar Organização Militar</button>


<!-- Modal -->
<div class="modal fade" id="modalPrestador" tabindex="-1" aria-labelledby="modalPrestadorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalPrestadorLabel">{{ modalTitulo }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="salvarPrestador()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" [(ngModel)]="prestador.nome" name="nome" required />
              </div>
              <div class="col-md-6 mb-3">
                <label for="cpf" class="form-label">CPF/CNPJ</label>
                <input
                  type="text"
                  class="form-control"
                  id="cpf"
                  [(ngModel)]="prestador.cpfcnpj"
                  name="cpf"
                  (blur)="validarCpfCnpj(prestador.cpfcnpj)"
                  required
                />
                <small class="text-danger" *ngIf="cpfCnpjInvalido">CPF/CNPJ inválido!</small>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="rg" class="form-label">RG</label>
                <input type="text" class="form-control" id="rg" [(ngModel)]="prestador.rg" name="rg" />
              </div>
              <div class="col-md-6 mb-3">
                <label for="orgEmissor" class="form-label">Órgão Emissor</label>
                <input type="text" class="form-control" id="orgEmissor" [(ngModel)]="prestador.orgEmissor" name="orgEmissor" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="nacionalidade" class="form-label">Nacionalidade</label>
                <input type="text" class="form-control" id="nacionalidade" [(ngModel)]="prestador.nacionalidade" name="nacionalidade" />
              </div>
              <div class="col-md-6 mb-3">
                <label for="estadoCivil" class="form-label">Estado Civil</label>
                <input type="text" class="form-control" id="estadoCivil" [(ngModel)]="prestador.estadoCivil" name="estadoCivil" />
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="telefone" class="form-label">Telefone</label>
                  <input type="text" class="form-control" id="telefone" [(ngModel)]="prestador.telefone" name="telefone" />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="celular" class="form-label">Celular</label>
                  <input type="text" class="form-control" id="celular" [(ngModel)]="prestador.celular" name="celular" />
                </div>
              </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cep" class="form-label">CEP</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="cep" [(ngModel)]="prestador.cep" name="cep" />
                  <button class="btn btn-secondary" type="button" (click)="buscarEndereco(prestador.cep)">Consultar</button>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="logradouro" class="form-label">Logradouro</label>
                <input type="text" class="form-control" id="logradouro" [(ngModel)]="prestador.logradouro" name="logradouro" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="bairro" class="form-label">Bairro</label>
                <input type="text" class="form-control" id="bairro" [(ngModel)]="prestador.bairro" name="bairro" />
              </div>
              <div class="col-md-6 mb-3">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="cidade" [(ngModel)]="prestador.cidade" name="cidade" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="uf" class="form-label">UF</label>
                <input type="text" class="form-control" id="uf" [(ngModel)]="prestador.uf" name="uf" />
              </div>
              <div class="col-md-6 mb-3">
                <label for="complemento" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="complemento" [(ngModel)]="prestador.complemento" name="complemento" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Modal para Organizações Militares -->
<div class="modal fade" id="modalOrgMilitar" tabindex="-1" aria-labelledby="modalOrgMilitarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalOrgMilitarLabel">{{ modalTituloOrgMilitar }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="salvarOrgMilitar()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" [(ngModel)]="orgMilitar.nome" name="nome" required />
              </div>
              <div class="col-md-6 mb-3">
                <label for="abreviatura" class="form-label">Abreviatura</label>
                <input type="text" class="form-control" id="abreviatura" [(ngModel)]="orgMilitar.abreviatura" name="abreviatura" required />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="telefone" [(ngModel)]="orgMilitar.telefone" name="telefone" />
              </div>
              <div hidden class="col-md-6 mb-3">
                <label for="cep" class="form-label">CEP</label>
                <input type="text" class="form-control" id="cep" [(ngModel)]="orgMilitar.cep" name="cep" />
              </div>
            </div>
            <!-- Outros campos de OrgMilitar (logradouros, etc.) -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>